<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'style', :plugin => 'qualification' %>
    <%= javascript_include_tag 'no-react', :plugin => 'qualification' %>
    <script>
        const settings = <%= settings.to_json.html_safe %>;
        const custom_fields = <%= IssueCustomField.all.to_json.html_safe %>;
    </script>
    <%= javascript_include_tag 'index', :plugin => 'qualification' %>
<% end %>

<div id="qualification" class="qualification-config"></div>